@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Roobert';
    src: local('Roobert'), url('/fonts/Roobert-Regular.otf') format('otf');
  }
}

@tailwind utilities;

:root {
  --foreground: #fff;
  --hover-foreground: #ccc;
  --section-blue: #1F48C7;
  --section-orange: #E43A13;
}

body {
  color: var(--foreground);
}

a:hover {
  color: var(--hover-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
