@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FAF3E4;
  --hover-background: rgba(0, 0, 0, 0.07);
  --hover-foreground: #000;
  --section-blue: #1F48C7;
  --section-orange: #E43A13;

  --desktop-width-min: 992px;
  --tablet-width-max: 991px;
  --tablet-width-min: 768px;
  --mobile-width-max: 767px;

  --font-size-min: 1em;
  --font-size-scale: 1.5vw;
  --font-size-max: 2em;
  --font-size-clamp: clamp(var(--font-size-min), var(--font-size-scale), var(--font-size-max));
  --line-height: 1;

  --pad-h-min: 16px;
  --pad-h-scale: 5.3%;
  --pad-h-max: 100px;
  --pad-h-clamp: clamp(var(--pad-h-min), var(--pad-h-scale), var(--pad-h-max));
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

body {
  color: var(--foreground);
  overflow-x: hidden;
}

p {
  margin-bottom: 1em;
  line-height: var(--line-height);

  &:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  body {
    --line-height: 1.2;
  }
}

a:hover {
  color: var(--hover-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
