@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --hover-foreground: #ccc;
  --section-blue: #1F48C7;
  --section-orange: #E43A13;
}

body {
  color: var(--foreground);
  font-family: 'Roobert', sans-serif;
}

a:hover {
  color: var(--hover-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
