.section {
  --headline-max-width: 1350px;

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  padding: 10vw var(--pad-h-clamp);
  font-size: var(--font-size-clamp);

  & > .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > img {
      object-fit: cover;
      object-position: center center;
    }
  }

  .sectionHeadline {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-52%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--headline-max-width);

    & > * {
      position: relative;
      padding-top: 25%;
    }
  }

  .content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
  }
}

.first {
  padding-left: 0;
  padding-right: 0;
  min-height: calc(var(--vh, 1svh) * 100);

  .mainLogos {
    position: relative;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
  }

  .nycContainer,
  .gothamContainer,
  .interboroContainer {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    & > img {
      object-fit: contain;
      object-position: center center;
    }
  }

  .nycContainer {
    padding-top: 40%;
    margin-bottom: -7%;
  }

  .gothamContainer {
    padding-top: 6.25%;
    margin-bottom: 1.3%;
  }

  .interboroContainer {
    padding-top: 1.4%;
  }

  @media only screen and (max-width: 991px) {
    .gothamContainer,
    .interboroContainer {
      position: relative;
      min-width: 420px;
    }

    .gothamContainer {
      padding-top: 8%;
    }

    .interboroContainer {
      padding-top: 3.5%;
    }
  }

  @media only screen and (max-width: 420px) {
    .subLogos {
      overflow: hidden;
    }

    .gothamContainer,
    .interboroContainer {
      left: calc(50% - 210px);
    }
  }
}

.second {
  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;

  .content {
    width: 45vw;
    padding-left: 0;
    padding-right: var(--pad-h-max);

    .title {
      position: relative;
      margin-bottom: 2.5em;

      & > * {
        position: relative;
        box-sizing: border-box;
        padding-top: min(40%, calc(var(--headline-max-width) * 0.25));

        & > img {
          object-fit: contain;
          object-position: left center;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .content {
      padding-right: var(--pad-h-clamp);

      .title {
        margin-bottom: 2em;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    align-items: center;

    .content {
      width: 100%;
      padding-left: var(--pad-h-clamp);
    }
  }
}

.third {
  display: block;
  padding: 0;
  background-color: var(--section-blue);

  .background {
    & > img {
      object-position: right center;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: var(--section-blue);
    }
  }

  .sectionHeadline {
    transform: translateY(-16.5%);
    width: 100%;
  }

  .content {
    width: 50%;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: min(calc(20% + 2.7em), calc(var(--headline-max-width) / 4)) var(--pad-h-clamp);
  }

  @media only screen and (max-width: 991px) {
    height: auto;
    min-height: 0;

    .background {
      display: none;
    }

    .content {
      width: 100%;
      min-height: 0;
      padding-bottom: max(15%, 90px);
    }
  }
}

.fifth {
  background: var(--section-orange);
  height: auto;
  min-height: 0;
  padding-top: min(calc(6% + 2em), 138px);
  padding-bottom: min(calc(6% + 3em), calc(138px + 1em));

  .content {
    text-align: center;

    @media only screen and (max-width: 1200px) {
      text-align: left;

      .fadeText > p > br {
        display: none;
      }
    }
  }
}

.sixth {
  padding-top: min(calc(20% + 2em), 323px);

  .sectionHeadline {
    transform: translateY(-19%);
    width: 100%;
  }

  .content {
    width: 100%;
    display: block;
    text-align: center;

    @media only screen and (max-width: 1200px) {
      text-align: left;

      .fadeText > p > br {
        display: none;
      }
    }

    .title {
      position: relative;
      text-align: center;
      margin-bottom: 0.8em;
      font-size: clamp(1.5em, 2.5vw, 2.5em);
      margin-top: min(3em, 90px);
    }
  }
}

.seventh {
  --font-size-scale: 1.2vw;

  .background {
    & > img {
      object-position: left top;
    }
  }

  .content {
    position: absolute;
    padding-left: max(38%, calc(var(--vh, 1vh) * 70));
    bottom: 100px;
    padding-right: var(--pad-h-clamp);
    overflow: visible;
  }

  @media only screen and (max-aspect-ratio: 7/6) {
    .background {
      & > img {
        object-position: right top;
      }
    }
  }

  @media only screen and (max-width: 1090px) and (max-aspect-ratio: 7/6) {

    .content {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      bottom: auto;
    }
  }

  @media only screen and (max-width: 767px) {
    .content {
      position: relative;
      bottom: auto
    }
  }
}
