.header {
  --padding-top-absolute: 50px;
  --padding-top-sticky: 10px;
  --padding-horizontal: 50px;
  --foregound: #fff;

  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  padding: var(--padding-top-absolute) var(--padding-horizontal) 0;
  color: var(--foregound);

  /* For sticky animation (header slides in from top). */
  top: calc(var(--padding-top-absolute) * -1);
  margin-top: var(--padding-top-absolute);

  &.sticky {
    position: fixed;
    padding: var(--padding-top-sticky) var(--padding-horizontal) 0;
    pointer-events: none;

    & > :global(.EZDrawer),
    .drawerToggleButton,
    .start > *,
    .end > * {
      pointer-events: auto;
    }

    &,
    .copyButton {
      text-shadow: var(--text-shadow);
    }

    .start > *,
    .end > * {
      &:hover {
        text-shadow: none;
      }
    }

    /* Sticky animation (header slides in from top). */
    transition: top 0.25s ease-in-out;
    top: 0;
    margin-top: 0;
  }
}

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile {
  display: none;
}

.start {
  align-self: flex-start;
  flex: 1;
}

.start > *,
.end > * {
  border-radius: 5px;
  padding: 3px 10px;
  height: 32px;

  &:hover {
    background-color: var(--hover-background);
  }
}

.end {
  align-self: flex-end;

  & > * {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .iconLink {
    box-sizing: content-box;
    width: 1.3em;
    height: 1.3em;
    top: -5px;
    border-radius: 50%;
    padding: 10px;

    &:hover {
      & > img {
        filter: invert(100%);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .header > :global(#EZDrawerHeader) {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    --padding-top-absolute: 0;
    --padding-top-sticky: 0;
    --padding-horizontal: 0;
    --hover-foreground: #ccc;

    position: fixed;

    &.sticky {
      transition: none;

      &,
      .copyButton {
        text-shadow: none;
      }
    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-self: flex-end;
  }

  .drawerToggleButton {
    position: relative;
    display: inline-block;
    font-size: 32px;
    line-height: 1;
    padding: 5px 10px 10px;
    border-radius: 50%;

    &:hover {
      background-color: var(--hover-background);
    }
  }

  .drawer.container {
    --hover-background: rgba(255, 255, 255, 0.1);

    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    padding: 20px;
    padding-right: 65px;

    .closeButton {
      position: absolute;
      right: 10px;
      top: 9px;
      font-size: 24px;
      line-height: 1;
      border-radius: 50%;
      padding: 8px 10px;

      &:hover {
        background-color: var(--hover-background);
      }
    }
  }

  .start > *,
  .end > * {
    padding: 0;
    height: auto;

    &:hover {
      background-color: transparent;
    }
  }

  .copyButton {
    &:hover {
      .icon > img {
        filter: invert(20%);
      }
    }
  }

  .end {
    margin-top: 0.5em;

    & > * {
      display: block;
      margin-left: 0;
      padding: 2px 0;
    }

    .iconLink {
      display: inline-block;
      margin-left: 0;
      margin-right: 15px;
      margin-top: 1.3em;
      padding: 0;
      top: 0;

      &:hover {
        & > img {
          filter: invert(20%);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
