.copyButton {
  position: relative;
  text-align: left;
  white-space: nowrap;
  max-width: 100%;

  .inner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    max-width: calc(100% - 1em - 10px);
  }

  .icon {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    bottom: -2px;
    margin-left: 10px;
    vertical-align: top;
  }

  &:hover {
    color: var(--hover-foreground);

    .icon > img {
      filter: invert(100%);
    }
  }
}
