@import '../../app/utilities.module.css';

.container {
  position: relative;
  background-color: var(--dark-background);
  text-transform: none;
  max-height: max(calc((var(--vh, 1vh) * 100) - 4em), 600px);
  overflow-y: auto;
}

.table {
  --padding-h: 20px;
  --image-margin-right: 20px;
  --row-min-height: 48px;

  position: relative;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;

  > thead,
  > tbody {
    position: relative;

    & > tr {
      position: relative;
      border-bottom: 1px solid var(--dark-border-color);

      & > th,
      & > td {

        &,
        > span {
          position: relative;
          vertical-align: middle;
        }

        &:not(:first-child) {
          @apply max-md:hidden;
        }

        &:last-child {
          box-sizing: content-box;
          width: 94px;
        }
      }
    }
  }

  > thead {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--dark-background-lighter);
    color: #aaa;
    font-size: 12px;

    & > tr > th {
      padding: 10px var(--padding-h);
    }
  }

  > tbody {
    & > tr > td {
      padding: 30px var(--padding-h);
    }

    & > tr.featured {
      box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.33);
    }
  }

  .coinContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: var(--row-min-height);

    .tokenImageContainer {
      margin-right: var(--image-margin-right);
    }

    .tokenImageContainer,
    .tokenImage {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--dark-background-lighter);
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > a {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .smallTable {
    @apply hidden max-md:block;
    margin-top: 1em;

    > tbody > tr > th {
      padding-right: 15px;
      color: #aaa;
    }

    .socials {
      margin-top: 1em;
      margin-left: -10px;
    }
  }

  .loading {
    .coinContent {
      .tokenImage {
        display: none;
      }
    }

    .value {
      min-width: 100px;
      min-height: 0.5em;
      border-radius: 10px;
    }

    .coinContent .tokenImageContainer,
    .value {
      @apply shimmer;
      background-color: var(--dark-background-lighter);
    }


  }

  @media only screen and (max-width: 767px) {
    --image-margin-right: 40px;
    --row-min-height: 175px;
  }
}
