.dexChart {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5em);

  .iframe {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;

    transition: opacity 1s ease-in-out;
    opacity: 0;

    &.loaded {
      opacity: 1;
    }
  }
}
