.header {
  --padding-horizontal: 50px;

  position: absolute;
  display: flex;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  padding: 50px var(--padding-horizontal) 0;

  &.sticky {
    position: fixed;
    background-color: var(--section-orange);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px var(--padding-horizontal);
  }

  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.left {
  align-self: flex-start;
  flex: 1;

  .copyButton {
    & > .copyIcon {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;
      padding-left: 40px;
      bottom: -2px;
    }

    &:hover {
      color: var(--hover-foreground);
    }
  }
}

.right {
  align-self: flex-end;

  & > * {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }

  .iconLink {
    width: 1.3em;
    height: 1.3em;
    bottom: -3px;
  }
}
