.header {
  position: fixed;
  display: flex;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  padding: 50px 50px 0;

  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.copyButton {
  flex: 1;
  text-align: left;

  & > .copyIcon {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 40px;
    bottom: -2px;
  }
}

.links {
  align-self: flex-end;

  & > * {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }

  .iconLink {
    width: 1.3em;
    height: 1.3em;
    bottom: -3px;
  }
}
