.header {
  --padding-top-absolute: 50px;
  --padding-vertical-sticky: 10px;
  --padding-horizontal: 50px;

  position: absolute;
  display: flex;
  z-index: 10;
  background-color: transparent;
  width: 100%;
  padding: var(--padding-top-absolute) var(--padding-horizontal) 0;

  /* For sticky animation (header slides in from top). */
  top: calc(var(--padding-top-absolute) * -1);
  margin-top: var(--padding-top-absolute);

  &.sticky {
    position: fixed;
    padding: var(--padding-vertical-sticky) var(--padding-horizontal);

    /* Sticky animation (header slides in from top). */
    transition: top 0.25s ease-in-out;
    top: 0;
    margin-top: 0;
  }
}

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile {
  display: none;

  .hamburgerIcon {
    position: relative;
    display: inline-block;
    top: -2px;
  }
}

.start {
  align-self: flex-start;
  flex: 1;
}

.end {
  align-self: flex-end;

  & > * {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }

  .iconLink {
    width: 1.3em;
    height: 1.3em;
    bottom: -3px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    --padding-top-absolute: 0;
    --padding-vertical-sticky: 0;
    --padding-horizontal: 15px;

    position: fixed;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
